src/TechDivision/Model/Schema/entity-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>
			This schema specifies the structure of the entity XML files
			used by the TechDivision_Generator package.
		</xs:documentation>
	</xs:annotation>
	<xs:element name="storable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" />
				<xs:element ref="interfaces" minOccurs="0"  maxOccurs="unbounded"/>
				<xs:element ref="members" />
				<xs:element ref="querys" minOccurs="0"  maxOccurs="unbounded"/>
				<xs:element ref="references" minOccurs="0"  maxOccurs="unbounded"/>
				<xs:element ref="formatters" minOccurs="0"  maxOccurs="unbounded"/>
				<xs:element ref="localizations" minOccurs="0"  maxOccurs="unbounded"/>
				<xs:element ref="tables" />
				<xs:element ref="triggers" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="procedures" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="type" use="required"
				type="storabletype" />
		</xs:complexType>
	</xs:element>
	<xs:element name="interfaces">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded"
					ref="interface" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="interface">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="include" use="required"
				type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="members">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="member" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="member">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="sqlname" use="required"
				type="xs:string" />
			<xs:attribute name="type" use="required" type="datatype" />
			<xs:attribute name="initial" use="optional" type="xs:token" />
			<xs:attribute name="insert" use="optional" type="xs:boolean"
				default="true" />
			<xs:attribute name="update" use="optional" type="xs:boolean"
				default="true" />
		</xs:complexType>
	</xs:element>
	<xs:element name="querys">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="query" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="query">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" />
				<xs:element ref="method" />
				<xs:element ref="result-type" />
				<xs:element ref="sql" />
			</xs:sequence>
			<xs:attribute name="dedicated" use="optional"
				type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="params" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="params">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded"
					ref="param" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="type" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="result-type" type="xs:NCName" />
	<xs:element name="sql" type="xs:string" />
	<xs:element name="localizations">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded"
					ref="localization" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formatters">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded"
					ref="formatter" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="localization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="source" />
				<xs:element ref="target" />
			</xs:sequence>
			<xs:attribute name="member" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="formatter">
		<xs:complexType>
			<xs:attribute name="member" use="required" type="xs:string" />
			<xs:attribute name="type" use="required"
				type="formattertype" />
		</xs:complexType>
	</xs:element>
	<xs:element name="references">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded"
					ref="reference" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method-name" minOccurs="1"
					maxOccurs="1" />
				<xs:element ref="multiplicity" minOccurs="1"
					maxOccurs="1" />
				<xs:element ref="source" />
				<xs:element ref="target" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="delete-cascade" use="optional"
				type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="method-name" type="xs:string" />
	<xs:element name="multiplicity" type="multiplicity" />
	<xs:element name="source">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="storable-name" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="storable-name" type="xs:string" />
	<xs:element name="target">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="member-name" />
				<xs:element name="table" type="xs:string" minOccurs="0"
					maxOccurs="1">
				</xs:element>
				<xs:element name="key-column" type="xs:string"
					minOccurs="0" maxOccurs="1">
				</xs:element>
				<xs:element name="target-column" type="xs:string"
					minOccurs="0" maxOccurs="1">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="member-name" type="xs:string" />
	<xs:element name="tables">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="table" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="triggers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="trigger" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="trigger">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sql" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="event" use="required" type="trigger-events" />
			<xs:attribute name="time" use="required"	type="trigger-times" />
		</xs:complexType>
	</xs:element>
	<xs:element name="procedures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="procedure" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="procedure">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="procedure-params" minOccurs="0" maxOccurs="1" />
				<xs:element ref="sql" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="procedure-params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="procedure-param" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="procedure-param">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="type" use="required" type="procedureparamtype" />
			<xs:attribute name="length" use="optional" type="xs:string" />
			<xs:attribute name="direction" use="required" type="procedureparamdirection" />
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="keys" minOccurs="0" maxOccurs="1" />
				<xs:element ref="fields" minOccurs="0" maxOccurs="1" />
				<xs:element ref="sql" minOccurs="0" maxOccurs="1" />
				<xs:element ref="initial-data" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="type" use="optional" type="tabletype" />
			<xs:attribute name="default-charset" use="optional"	type="charsets" />
			<xs:attribute name="collate" use="optional"	type="collations" />
			<xs:attribute name="auto-increment" use="optional"	type="xs:integer" />
		</xs:complexType>
	</xs:element>
	<xs:element name="keys">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" ref="pk" />
				<xs:element minOccurs="0" maxOccurs="unbounded"	ref="unique" />
				<xs:element minOccurs="0" maxOccurs="unbounded"	ref="unique-multi" />
				<xs:element minOccurs="0" maxOccurs="unbounded"	ref="index" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="fk" />
				<xs:element minOccurs="0" maxOccurs="unbounded"	ref="fulltext" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="initial-data">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded"	ref="rows" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rows">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="row" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="col" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="col">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="pk">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="field" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="unique">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="field" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="index">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="field" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="fk">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="field" use="required" type="xs:string" />
			<xs:attribute name="target-table" use="required"
				type="xs:string" />
			<xs:attribute name="target-field" use="required"
				type="xs:string" />
			<xs:attribute name="on-delete" use="optional"
				type="constraintoptions" />
			<xs:attribute name="on-update" use="optional"
				type="constraintoptions" />
		</xs:complexType>
	</xs:element>
	<xs:element name="fulltext">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded"
					ref="columns" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="unique-multi">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded"
					ref="columns" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="index-multi">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded"
					ref="columns" />
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="field" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="type" use="required" type="fieldtype" />
			<xs:attribute name="length" use="optional"
				type="xs:integer" />
			<xs:attribute name="nullable" use="optional"
				type="xs:boolean" />
			<xs:attribute name="default" use="optional"
				type="xs:string" />
			<xs:attribute name="on-update" use="optional"
				type="xs:string" />
			<xs:attribute name="autoincrement" use="optional"
				type="xs:boolean" />
		</xs:complexType>
	</xs:element>
	<xs:element name="columns">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="column" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="column" type="xs:string" />
	<xs:element name="description" type="xs:string" />
	<xs:simpleType name="fieldtype">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="bit" />
			<xs:enumeration value="datetime" />
			<xs:enumeration value="float" />
			<xs:enumeration value="int" />
			<xs:enumeration value="varchar" />
			<xs:enumeration value="text" />
			<xs:enumeration value="tinyint" />
			<xs:enumeration value="char" />
			<xs:enumeration value="timestamp" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="datatype">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="boolean" />
			<xs:enumeration value="integer" />
			<xs:enumeration value="float" />
			<xs:enumeration value="string" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="multiplicity">
		<xs:annotation>
			<xs:documentation>
				Specifies the multiplicity for the reference.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="one" />
			<xs:enumeration value="many" />
			<xs:enumeration value="many-to-many" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="storabletype">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="entity" />
			<xs:enumeration value="session" />
			<xs:enumeration value="view" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="constraintoptions">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="cascade" />
			<xs:enumeration value="nothing" />
			<xs:enumeration value="null" />
			<xs:enumeration value="restrict" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="formattertype">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="CurrencyType" />
			<xs:enumeration value="DateType" />
			<xs:enumeration value="FloatType" />
			<xs:enumeration value="IntegerType" />
			<xs:enumeration value="IntegerCurrencyType"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tabletype">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="MyISAM" />
			<xs:enumeration value="InnoDB" />
			<xs:enumeration value="View" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="trigger-events">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="INSERT" />
			<xs:enumeration value="UPDATE" />
			<xs:enumeration value="DELETE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="trigger-times">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="BEFORE" />
			<xs:enumeration value="AFTER" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="procedureparamtype">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="INT" />
			<xs:enumeration value="BIT" />
			<xs:enumeration value="TINYINT" />
			<xs:enumeration value="MEDIUMINT" />
			<xs:enumeration value="BIGINT" />
			<xs:enumeration value="DOUBLE" />
			<xs:enumeration value="FLOAT" />
			<xs:enumeration value="DATE" />
			<xs:enumeration value="TIMESTAMP" />
			<xs:enumeration value="TIME" />
			<xs:enumeration value="YEAR" />
			<xs:enumeration value="CHAR" />
			<xs:enumeration value="VARCHAR" />
			<xs:enumeration value="TINYTEXT" />
			<xs:enumeration value="TEXT" />
			<xs:enumeration value="LONGTEXT" />
			<xs:enumeration value="BINARY" />
			<xs:enumeration value="VARBINARY" />
			<xs:enumeration value="TINYBLOB" />
			<xs:enumeration value="BLOB" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="procedureparamdirection">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="IN" />
			<xs:enumeration value="OUT" />
			<xs:enumeration value="INOUT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="charsets">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="big5" />
			<xs:enumeration value="dec8" />
			<xs:enumeration value="cp850" />
			<xs:enumeration value="hp8" />
			<xs:enumeration value="koi8r" />
			<xs:enumeration value="latin1" />
			<xs:enumeration value="latin2" />
			<xs:enumeration value="swe7" />
			<xs:enumeration value="ascii" />
			<xs:enumeration value="ujis" />
			<xs:enumeration value="sjis" />
			<xs:enumeration value="hebrew" />
			<xs:enumeration value="tis620" />
			<xs:enumeration value="euckr" />
			<xs:enumeration value="koi8u" />
			<xs:enumeration value="gb2312" />
			<xs:enumeration value="greek" />
			<xs:enumeration value="cp1250" />
			<xs:enumeration value="gbk" />
			<xs:enumeration value="latin5" />
			<xs:enumeration value="armscii8" />
			<xs:enumeration value="utf8" />
			<xs:enumeration value="ucs2" />
			<xs:enumeration value="cp866" />
			<xs:enumeration value="keybcs2" />
			<xs:enumeration value="macce" />
			<xs:enumeration value="macroman" />
			<xs:enumeration value="cp852" />
			<xs:enumeration value="latin7" />
			<xs:enumeration value="cp1251" />
			<xs:enumeration value="cp1256" />
			<xs:enumeration value="cp1257" />
			<xs:enumeration value="latin7" />
			<xs:enumeration value="binary" />
			<xs:enumeration value="geostd8" />
			<xs:enumeration value="cp932" />
			<xs:enumeration value="eucjpms" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="collations">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="big5_chinese_ci" />
			<xs:enumeration value="big5_bin" />
			<xs:enumeration value="dec8_swedish_ci" />
			<xs:enumeration value="dec8_bin" />
			<xs:enumeration value="cp850_general_ci" />
			<xs:enumeration value="cp850_bin" />
			<xs:enumeration value="hp8_english_ci" />
			<xs:enumeration value="hp8_bin" />
			<xs:enumeration value="koi8r_general_ci" />
			<xs:enumeration value="koi8r_bin" />
			<xs:enumeration value="latin1_german1_ci" />
			<xs:enumeration value="latin1_swedish_ci" />
			<xs:enumeration value="latin1_danish_ci" />
			<xs:enumeration value="latin1_german2_ci" />
			<xs:enumeration value="latin1_bin" />
			<xs:enumeration value="latin1_general_ci" />
			<xs:enumeration value="latin1_general_cs" />
			<xs:enumeration value="latin1_spanish_ci" />
			<xs:enumeration value="latin2_czech_cs" />
			<xs:enumeration value="latin2_general_ci" />
			<xs:enumeration value="latin2_hungarian_ci" />
			<xs:enumeration value="latin2_croatian_ci" />
			<xs:enumeration value="latin2_bin" />
			<xs:enumeration value="swe7_swedish_ci" />
			<xs:enumeration value="swe7_bin" />
			<xs:enumeration value="ascii_general_ci" />
			<xs:enumeration value="ascii_bin" />
			<xs:enumeration value="ujis_japanese_ci" />
			<xs:enumeration value="ujis_bin" />
			<xs:enumeration value="sjis_japanese_ci" />
			<xs:enumeration value="sjis_bin" />
			<xs:enumeration value="hebrew_general_ci" />
			<xs:enumeration value="hebrew_bin" />
			<xs:enumeration value="tis620_thai_ci" />
			<xs:enumeration value="tis620_bin" />
			<xs:enumeration value="euckr_korean_ci" />
			<xs:enumeration value="euckr_bin" />
			<xs:enumeration value="koi8u_general_ci" />
			<xs:enumeration value="koi8u_bin" />
			<xs:enumeration value="gb2312_chinese_ci" />
			<xs:enumeration value="gb2312_bin" />
			<xs:enumeration value="greek_general_ci" />
			<xs:enumeration value="greek_bin" />
			<xs:enumeration value="cp1250_general_ci" />
			<xs:enumeration value="cp1250_czech_cs" />
			<xs:enumeration value="cp1250_croatian_ci" />
			<xs:enumeration value="cp1250_bin" />
			<xs:enumeration value="gbk_chinese_ci" />
			<xs:enumeration value="gbk_bin" />
			<xs:enumeration value="latin5_turkish_ci" />
			<xs:enumeration value="latin5_bin" />
			<xs:enumeration value="armscii8_general_ci" />
			<xs:enumeration value="armscii8_bin" />
			<xs:enumeration value="utf8_general_ci" />
			<xs:enumeration value="utf8_bin" />
			<xs:enumeration value="utf8_unicode_ci" />
			<xs:enumeration value="utf8_icelandic_ci" />
			<xs:enumeration value="utf8_latvian_ci" />
			<xs:enumeration value="utf8_romanian_ci" />
			<xs:enumeration value="utf8_slovenian_ci" />
			<xs:enumeration value="utf8_polish_ci" />
			<xs:enumeration value="utf8_estonian_ci" />
			<xs:enumeration value="utf8_spanish_ci" />
			<xs:enumeration value="utf8_swedish_ci" />
			<xs:enumeration value="utf8_turkish_ci" />
			<xs:enumeration value="utf8_czech_ci" />
			<xs:enumeration value="utf8_danish_ci" />
			<xs:enumeration value="utf8_lithuanian_ci" />
			<xs:enumeration value="utf8_slovak_ci" />
			<xs:enumeration value="utf8_spanish2_ci" />
			<xs:enumeration value="utf8_roman_ci" />
			<xs:enumeration value="utf8_persian_ci" />
			<xs:enumeration value="utf8_esperanto_ci" />
			<xs:enumeration value="utf8_hungarian_ci" />
			<xs:enumeration value="ucs2_general_ci" />
			<xs:enumeration value="ucs2_bin" />
			<xs:enumeration value="ucs2_unicode_ci" />
			<xs:enumeration value="ucs2_icelandic_ci" />
			<xs:enumeration value="ucs2_latvian_ci" />
			<xs:enumeration value="ucs2_romanian_ci" />
			<xs:enumeration value="ucs2_slovenian_ci" />
			<xs:enumeration value="ucs2_polish_ci" />
			<xs:enumeration value="ucs2_estonian_ci" />
			<xs:enumeration value="ucs2_spanish_ci" />
			<xs:enumeration value="ucs2_swedish_ci" />
			<xs:enumeration value="ucs2_turkish_ci" />
			<xs:enumeration value="ucs2_czech_ci" />
			<xs:enumeration value="ucs2_danish_ci" />
			<xs:enumeration value="ucs2_lithuanian_ci" />
			<xs:enumeration value="ucs2_slovak_ci" />
			<xs:enumeration value="ucs2_spanish2_ci" />
			<xs:enumeration value="ucs2_roman_ci" />
			<xs:enumeration value="ucs2_persian_ci" />
			<xs:enumeration value="ucs2_esperanto_ci" />
			<xs:enumeration value="ucs2_hungarian_ci" />
			<xs:enumeration value="cp866_general_ci" />
			<xs:enumeration value="cp866_bin" />
			<xs:enumeration value="keybcs2_general_ci" />
			<xs:enumeration value="keybcs2_bin" />
			<xs:enumeration value="macce_general_ci" />
			<xs:enumeration value="macce_bin" />
			<xs:enumeration value="macroman_general_ci" />
			<xs:enumeration value="macroman_bin" />
			<xs:enumeration value="cp852_general_ci" />
			<xs:enumeration value="cp852_bin" />
			<xs:enumeration value="latin7_estonian_cs" />
			<xs:enumeration value="latin7_general_ci" />
			<xs:enumeration value="latin7_general_cs" />
			<xs:enumeration value="latin7_bin" />
			<xs:enumeration value="cp1251_bulgarian_ci" />
			<xs:enumeration value="cp1251_ukrainian_ci" />
			<xs:enumeration value="cp1251_bin" />
			<xs:enumeration value="cp1251_general_ci" />
			<xs:enumeration value="cp1251_general_cs" />
			<xs:enumeration value="cp1256_general_ci" />
			<xs:enumeration value="cp1256_bin" />
			<xs:enumeration value="cp1257_lithuanian_ci" />
			<xs:enumeration value="cp1257_bin" />
			<xs:enumeration value="cp1257_general_ci" />
			<xs:enumeration value="binary" />
			<xs:enumeration value="geostd8_general_ci" />
			<xs:enumeration value="geostd8_bin" />
			<xs:enumeration value="cp932_japanese_ci" />
			<xs:enumeration value="cp932_bin" />
			<xs:enumeration value="eucjpms_japanese_ci" />
			<xs:enumeration value="eucjpms_bin" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
